
/* 
 ____________________________________________________menu navegação____________________________________________________ */

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: beige;
  }
  body {
      font-size: 28px;
    }
    
    ul {
       display: flex;
       justify-content: space-evenly;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #8b4726;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 10px;
      border-radius: 10px;
      border-top: 10px;
      font-family: 'Lora', serif;
    }
    
    li {
      float: left;
      font-family: 'Lora', serif;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    background:#8b4726;
    }
    
    li a:hover {
      background-color: #8b4726;
      font-family: 'Lora', serif;
    }
    
    .active {
      background-color: #8b4726;
    }

.logo-img{
    height: 45px;
    border-radius: 20px; margin-top: 7px;
    
}
    
